<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{../styles/style.css}" rel="stylesheet" type="text/css" />
    <title>Складской учет</title>
</head>
<body style="margin-top: 0px;margin-bottom: 0px;margin-left: 0px;margin-right: 0px;">
<div th:class="header" style="padding-left: 8px;padding-top: 8px;padding-bottom: 4px">Складской учет</div>
<div th:class="header" style="display: flex; flex-direction: row; gap: 16px;" >
    <a style="padding-left: 8px" th:href="@{'/main/'}">Главная страница</a>
    <a th:href="@{'/main/allOrders/'}">Заказы</a>
    <a th:href="@{'/main/allProducts/'}">Товары</a>
    <a th:href="@{'/main/allSuppliers/'}">Поставщики</a>
    <a th:href="@{'/main/allClients/'}">Клиенты</a>
    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{'/main/allUsers/'}">Пользователи</a>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{'/main/allTypes/'}">Категории</a>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{'/main/allEmployees/'}">Сотрудники</a>
    </div>
<p></p>

    <a style="flex-grow: 1; text-align: right; margin-right: 3%"
       th:href="@{'/logout'}">Выход</a>
</div>
</body>
<body th:class="main">
</body>
</html>