<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Складской учет</title>
</head>
<body>
<div>Складской учет</div>
<div style="display: flex; flex-direction: row; gap: 16px;" >
    <a th:href="@{'/main/allOrders/'}">Заказы</a>
    <a th:href="@{'/main/allProducts/'}">Товары</a>
    <a th:href="@{'/main/allSuppliers/'}">Поставщики</a>
    <a th:href="@{'/main/allClients/'}">Клиенты</a>
    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{'/main/allUsers/'}">Пользователи</a>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{'/main/allTypes/'}">Категории</a>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
    <a th:href="@{'/main/allEmployees/'}">Сотрудники</a>
    </div>
    <a style="flex-grow: 1; text-align: right; margin-right: 3%"
       th:href="@{'/logout'}">Выход</a>
</div>
</body>
</html>