<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование поставщика</title>
    <link th:href="@{../../../styles/style.css}" rel="stylesheet" type="text/css" />
</head>
<body th:class="main">
<h3>Изменить клиента</h3>
<div class="container">
    <form th:action="@{/main/editClient}"
          th:object="${client}" method="post">
        <label>
            <input th:field="${client.id}" placeholder="id" hidden>
        </label>
        <p>Брэнд <label>
            <input th:field="${client.brand}" placeholder="brand">
        </label></p>
        <p>Адрес <label>
            <input th:field="${client.address}" placeholder="address">
        </label></p>
        <p>Имя клиента <label>
            <input th:field="${client.clientName}" placeholder="client name">
        </label></p>
        <p>e-mail <label>
            <input th:field="${client.email}" placeholder="e-mail">
        </label></p>
        <p>Номер телефона <label>
            <input th:field="${client.phone}" placeholder="phone">
        </label></p>
        <p>Должность <label>
            <input th:field="${client.position}" placeholder="position">
        </label>
        <p>
        <p>Номер контракта <label>
            <input th:field="${client.numberOfContracts}" placeholder="number of contract">
        </label></p>
        <p>Условия работы <label>
            <input th:field="${client.workingConditions}" placeholder="working conditions">
        </label></p>
        <p>Заметка <label>
            <input th:field="${client.notes}" placeholder="notes">
        </label></p>
        <button type="submit">Готово</button>
        <a th:href="@{'/main/allClients/'}"><button>Назад</button></a>
    </form>
</div>
</body>
</html>