<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование пользователя</title>
    <link th:href="@{../../../styles/style.css}" rel="stylesheet" type="text/css" />
</head>
<body th:class="main">
<h3>Редактировать пользователя</h3>
<div class="container">
    <form th:action="@{/main/editUser}"
          th:object="${user}" method="post">
        <label>
            <input th:field="${user.id}" placeholder="id" hidden>
        </label>
        <p>Имя пользователя <label>
            <input th:field="${user.userName}" placeholder="username">
        </label></p>
        <p>Пароль <label>
            <input th:field="${user.password}" placeholder="password">
        </label></p>
        <div>Роль <label>
            <select th:field="${user.roles}">
                <option th:each="role : ${roles}"
                        th:text="${role.roleName == 'ROLE_USER' ? 'Пользователь' : 'Администратор'}"}
                        th:value="${role.getId()}">
                </option>
        </select>
        </label></div>
        <p>Имя <label>
            <input th:field="${user.firstName}" placeholder="firstname">
        </label></p>
        <p>Фамилия <label>
            <input th:field="${user.lastName}" placeholder="lastname">
        </label></p>
        <p>Телефон <label>
            <input th:field="${user.phone}" placeholder="phone">
        </label></p>
        <p>e-mail <label>
            <input th:field="${user.email}" placeholder="email">
        </label></p>
        <button type="submit">Готово</button>
        <a th:href="@{'/main/allUsers/'}"><button>Назад</button></a>
    </form>
</div>
</body>
</html>