<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование поставщика</title>
</head>
<body>
<div class="container">
    <form th:action="@{/main/editOrder}"
          th:object="${order}" method="post">

            <input th:field="${order.id}" placeholder="id" hidden>
            <div>Сотрудник <select th:field="${order.employee}">
                <option value=""> employee </option>
                <option th:each="employee : ${employees}"
                        th:text="${employee.surname}"
                        th:value="${employee.getId()}">
                </option>
            </select></div>
          <p></p>
          <div>Клиент <select th:field="${order.client}">
                <option value=""> client </option>
                <option th:each="client : ${clients}"
                        th:text="${client.clientName}"
                        th:value="${client.getId()}">
                </option>
            </select></div>
            <p>Дата отправки <input type="date" th:field="${order.shippingDate}" placeholder="shippingDate"></p>
        <p>Дата оплаты <input type="date" th:field="${order.paymentDate}" placeholder="paymentDate"></p>
        <p>Имя получателя <input th:field="${order.receiverName}" placeholder="receiverName"></p>
        <p>Адрес Получателя <input th:field="${order.receiverAddress}" placeholder="receiverAddress"></p>
        <button type="submit">Готово</button>
    </form>
</div>
</body>
</html>