<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование поставщика</title>
</head>
<body>
<div class="container">
    <form th:action="@{/main/editSupplier}"
          th:object="${supplier}" method="post">
        <input th:field="${supplier.id}" placeholder="id" hidden>
        <p>Брэнд <input th:field="${supplier.brand}" placeholder="brand"></p>
        <p>Имя поставщика <input th:field="${supplier.name}" placeholder="name"></p>
        <p>Должность <input th:field="${supplier.position}" placeholder="position"></p>
        <p>Адрес <input th:field="${supplier.address}" placeholder="Address"></p>
        <p>Телефон <input th:field="${supplier.phone}" placeholder="phone"></p>
        <p>e-mail <input th:field="${supplier.email}" placeholder="email"></p>
        <button type="submit">Готово</button>
    </form>
</div>
</body>
</html>