<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование поставщика</title>
    <link th:href="@{../../../styles/style.css}" rel="stylesheet" type="text/css" />
</head>
<body th:class="main">
<h3>Редактировать поставщика</h3>
<div class="container">
    <form th:action="@{/main/editSupplier}"
          th:object="${supplier}" method="post">
        <input th:field="${supplier.id}" placeholder="id" hidden>
        <p>Брэнд <input th:field="${supplier.brand}" placeholder="brand"></p>
        <p>Имя поставщика <input th:field="${supplier.name}" placeholder="name"></p>
        <p>Должность <input th:field="${supplier.position}" placeholder="position"></p>
        <p>Адрес <input th:field="${supplier.address}" placeholder="Address"></p>
        <p>Телефон <input th:field="${supplier.phone}" placeholder="phone"></p>
        <p>e-mail <input th:field="${supplier.email}" placeholder="email"></p>
        <button type="submit">Готово</button>
        <a th:href="@{'/main/allSuppliers/'}"><button>Назад</button></a>
    </form>
</div>
</body>
</html>