<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование категории</title>
    <link th:href="@{../../../styles/style.css}" rel="stylesheet" type="text/css" />
</head>
<body th:class="main">
<h3>Редактировать категорию</h3>
<div class="container">
    <form th:action="@{/main/editType}"
          th:object="${type}" method="post">
        <label>
            <input th:field="${type.id}" placeholder="id" hidden>
        </label>
        <p>Фамилия <label>
            <input th:field="${type.category}" placeholder="category">
        </label></p>
        <p>Имя <label>
            <input th:field="${type.description}" placeholder="description">
        </label></p>
        <button type="submit">Готово</button>
        <a th:href="@{'/main/allTypes/'}"><button>Назад</button></a>
    </form>
</div>
</body>
</html>