<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Редактирование поставщика</title>-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--    <form th:action="@{/main/editUser}"-->
<!--          th:object="${user}" method="post">-->
<!--        <input th:field="${user.id}" placeholder="id" hidden>-->
<!--        <p>Брэнд <input th:field="${user.username}" placeholder="brand"></p>-->
<!--        <p>Имя поставщика <input th:field="${user.password}" placeholder="name"></p>-->
<!--        <p>Должность <input th:field="${user.firstname}" placeholder="position"></p>-->
<!--        <p>Адрес <input th:field="${user.lastname}" placeholder="Address"></p>-->
<!--        <p>Телефон <input th:field="${user.phone}" placeholder="phone"></p>-->
<!--        <p>e-mail <input th:field="${user.email}" placeholder="email"></p>-->
<!--        <button type="submit">Готово</button>-->
<!--        <a th:href="@{'/main/allUsers/'}"><button>Назад</button></a>-->
<!--    </form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->