<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование пользователя</title>
</head>
<body>
<div class="container">
    <form th:action="@{/main/editUser}"
          th:object="${user}" method="post">
        <input th:field="${user.id}" placeholder="id" hidden>
        <p>Имя пользователя <input th:field="${user.userName}" placeholder="username"></p>
        <p>Пароль <input th:field="${user.password}" placeholder="password"></p>
        <p>Имя <input th:field="${user.firstName}" placeholder="firstname"></p>
        <p>Фамилия <input th:field="${user.lastName}" placeholder="lastname"></p>
        <p>Телефон <input th:field="${user.phone}" placeholder="phone"></p>
        <p>e-mail <input th:field="${user.email}" placeholder="email"></p>
        <button type="submit">Готово</button>
        <a th:href="@{'/main/allUsers/'}"><button>Назад</button></a>
    </form>
</div>
</body>
</html>