<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование поставщика</title>
    <link th:href="@{../../../styles/style.css}" rel="stylesheet" type="text/css" />
</head>
<body th:class="main">
<h3>Редактировать сотрудника</h3>
<div class="container">
    <form th:action="@{/main/editEmployee}"
          th:object="${employee}" method="post">
        <label>
            <input th:field="${employee.id}" placeholder="id" hidden>
        </label>
        <p>Фамилия <label>
            <input th:field="${employee.surname}" placeholder="surname">
        </label></p>
        <p>Имя <label>
            <input th:field="${employee.name}" placeholder="name">
        </label></p>
        <p>Должность <label>
            <input th:field="${employee.position}" placeholder="position">
        </label></p>
        <p>Адрес <label>
            <input th:field="${employee.address}" placeholder="address">
        </label></p>
        <p>Дата рождения <label>
            <input type="date" th:field="${employee.dateOfBirth}" placeholder="dateOfBirth">
        </label></p>
        <p>e-mail <label>
            <input th:field="${employee.email}" placeholder="email">
        </label></p>
        <p>Номер телефона <label>
            <input th:field="${employee.phone}" placeholder="phone">
        </label></p>
        <button type="submit">Готово</button>
        <a th:href="@{'/main/allEmployees/'}"><button>Назад</button></a>
    </form>
</div>
</body>
</html>