<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование поставщика</title>
    <link th:href="@{../../../styles/style.css}" rel="stylesheet" type="text/css" />
</head>
<body th:class="main">
<div class="container">
    <h3>Редактировать товар</h3>
    <form th:action="@{/main/editProduct}"
          th:object="${product}" method="post">
            <input th:field="${product.id}" placeholder="id" hidden>
            <p>Название <input th:field="${product.name}" placeholder="name"></p>
            <div>Поставщик <select th:field="${product.supplier}">
                <option th:each="supplier : ${suppliers}"
                        th:text="${supplier.brand}"
                        th:value="${supplier.getId()}">
                </option>
            </select>
            </div>
        <p></p>
        <div>Категория <select th:field="${product.type}">
                <option th:each="type : ${types}"
                        th:text="${type.category}"
                        th:value="${type.getId()}">
                </option>
            </select>
        </div>
            <p>Цена <input th:field="${product.price}" placeholder="price"> </p>
        <p>Единица измерения <input th:field="${product.unit}" placeholder="unit"></p>
        <p>В наличии <input th:field="${product.inStock}" placeholder="inStock"></p>
        <button type="submit">Готово</button>
        <a th:href="@{'/main/allProducts/'}"><button>Назад</button></a>
    </form>
</div>
</body>
</html>