<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование поставщика</title>
    <link th:href="@{../../../styles/style.css}" rel="stylesheet" type="text/css" />
</head>
<body th:class="main">
<h3>Изменить клиента</h3>
<div class="container">
    <form th:action="@{/main/editClient}"
          th:object="${client}" method="post">
            <input th:field="${client.id}" placeholder="id" hidden>
        <p>Брэнд <input th:field="${client.brand}" placeholder="brand"></p>
        <p>Адрес <input th:field="${client.address}" placeholder="address"></p>
        <p>Имя клиента <input th:field="${client.clientName}" placeholder="client name"></p>
        <p>e-mail <input th:field="${client.email}" placeholder="e-mail"></p>
        <p>Номер телефона <input th:field="${client.phone}" placeholder="phone"></p>
        <p>Должность <input th:field="${client.position}" placeholder="position"><p>
        <p>Номер контракта <input th:field="${client.numberOfContracts}" placeholder="number of contract"></p>
        <p>Условия работы <input th:field="${client.workingConditions}" placeholder="working conditions"></p>
        <p>Заметка <input th:field="${client.notes}" placeholder="notes"></p>
        <button type="submit">Готово</button>
        <a th:href="@{'/main/allClients/'}"><button>Назад</button></a>
    </form>
</div>
</body>
</html>