<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование поставщика</title>
    <link th:href="@{../../../styles/style.css}" rel="stylesheet" type="text/css" />
</head>
<body th:class="main">
<h3>Редактировать сотрудника</h3>
<div class="container">
    <form th:action="@{/main/editEmployee}"
          th:object="${employee}" method="post">
            <input th:field="${employee.id}" placeholder="id" hidden>
        <p>Фамилия <input th:field="${employee.surname}" placeholder="surname"></p>
        <p>Имя <input th:field="${employee.name}" placeholder="name"></p>
        <p>Должность <input th:field="${employee.position}" placeholder="position"></p>
        <p>Адрес <input th:field="${employee.address}" placeholder="address"></p>
        <p>Дата рождения <input type="date" th:field="${employee.dateOfBirth}" placeholder="dateOfBirth"></p>
        <p>e-mail <input th:field="${employee.email}" placeholder="email"></p>
        <p>Номер телефона <input th:field="${employee.phone}" placeholder="phone"></p>
        <button type="submit">Готово</button>
        <a th:href="@{'/main/allEmployees/'}"><button>Назад</button></a>
    </form>
</div>
</body>
</html>