<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование поставщика</title>
    <link th:href="@{../../../styles/style.css}" rel="stylesheet" type="text/css" />
</head>
<body th:class="main">
<div class="container">
    <h3>Редактировать товар</h3>
    <form th:action="@{/main/editProduct}"
          th:object="${product}" method="post">
        <label>
            <input th:field="${product.id}" placeholder="id" hidden>
        </label>
        <p>Название <label>
            <input th:field="${product.name}" placeholder="name">
        </label></p>
            <div>Поставщик <label>
                <select th:field="${product.supplier}">
                    <option th:each="supplier : ${suppliers}"
                            th:text="${supplier.brand}"
                            th:value="${supplier.getId()}">
                    </option>
                </select>
            </label>
            </div>
        <p></p>
        <div>Категория <label>
            <select th:field="${product.type}">
                    <option th:each="type : ${types}"
                            th:text="${type.category}"
                            th:value="${type.getId()}">
                    </option>
                </select>
        </label>
        </div>
            <p>Цена <label>
                <input th:field="${product.price}" placeholder="price">
            </label></p>
        <p>Единица измерения <label>
            <input th:field="${product.unit}" placeholder="unit">
        </label></p>
        <p>В наличии <label>
            <input th:field="${product.inStock}" placeholder="inStock">
        </label></p>
        <button type="submit">Готово</button>
        <a th:href="@{'/main/allProducts/'}"><button>Назад</button></a>
    </form>
</div>
</body>
</html>