<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование поставщика</title>
</head>
<body>
<div class="container">
    <form th:action="@{/main/editProduct}"
          th:object="${product}" method="post">
            <input th:field="${product.id}" placeholder="id" hidden>
            <input th:field="${product.name}" placeholder="name">
            <select th:field="${product.supplier}">
                <option value=""> suppliers </option>
                <option th:each="supplier : ${suppliers}"
                        th:text="${supplier.brand}"
                        th:value="${supplier.getId()}">
                </option>
            </select>
            <select th:field="${product.type}">
                <option value=""> client </option>
                <option th:each="type : ${types}"
                        th:text="${type.category}"
                        th:value="${type.getId()}">
                </option>
            </select>
            <p>Цена <input th:field="${product.price}" placeholder="price"> </p>
            <input th:field="${product.unit}" placeholder="unit">
            <input th:field="${product.inStock}" placeholder="inStock">
        <button type="submit">Готово</button>
    </form>
</div>
</body>
</html>