<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Сотрудники</title>
    <link th:href="@{../../styles/style.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<div>Сотрудники</div>
<div style="display: flex; flex-direction: row; gap: 16px;" >
    <a th:href="@{'/main/'}">Главная страница</a>
    <a th:href="@{'/main/allOrders/'}">Заказы</a>
    <a th:href="@{'/main/allProducts/'}">Товары</a>
    <a th:href="@{'/main/allSuppliers/'}">Поставщики</a>
    <a th:href="@{'/main/allClients/'}">Клиенты
        <div sec:authorize="hasRole('ADMIN')">
            <a th:href="@{'/main/allUsers/'}">Пользователи</a>
        </div>
    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{'/main/allTypes/'}">Категории</a>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
    <a th:href="@{'/main/allEmployees/'}">Сотрудники</a>
    </div>
    <a style="flex-grow: 1; text-align: right; margin-right: 3%" th:href="@{'/logout'}">Выход</a>
</div>
</form>
</body>
<body>
<table class=" table table-hover">

    <h3>Добавить сотрудника</h3>
    <div class="container">
        <form th:action="@{/main/addEmployee}"
              th:object="${employee}" method="post">
            <label>
                <input th:field="${employee.id}" placeholder="id" hidden>
            </label>

            <label>
                <input th:field="${employee.surname}" placeholder="surname">
            </label>

            <label>
                <input th:field="${employee.name}" placeholder="name">
            </label>

            <label>
                <input th:field="${employee.position}" placeholder="position">
            </label>

            <label>
                <input th:field="${employee.address}" placeholder="address">
            </label>

            <label>
                <input type="date" th:field="${employee.dateOfBirth}" placeholder="dateOfBirth">
            </label>

            <label>
                <input th:field="${employee.email}" placeholder="email">
            </label>

            <label>
                <input th:field="${employee.phone}" placeholder="phone">
            </label>

            <button type="submit">Добавить</button>
        </form>
    </div>


    <thead>
    <tr>
        <th>ID</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Должность</th>
        <th>Адрес</th>
        <th>Дата рождения</th>
        <th>email</th>
        <th>Номер телефона</th>
    </tr>
    </thead>
    <span>
        <tbody>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.surname}"></td>
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.position}"></td>
            <td th:text="${employee.address}"></td>
            <td th:text="${employee.dateOfBirth}"></td>
            <td th:text="${employee.email}"></td>
            <td th:text="${employee.phone}"></td>
            <td>
            <a th:href="@{'/main/deleteEmployee/' + ${employee.id}}" th:text="Удалить"></a>
                <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{'/main/editEmployee/' + ${employee.id}}" th:text="Изменить"></a>
    </div>
        </td>
    </span>
    </tr>
    </tbody>
    </span>
</table>

<br>
</body>
</html>