<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сотрудники</title>
</head>
<body>
<div>Складской учет</div>
<a th:href="@{'/main/allOrders/'}">Заказы</a>
<a th:href="@{'/main/allProducts/'}">Товары</a>
<a th:href="@{'/main/allSuppliers/'}">Поставщики</a>
<a th:href="@{'/main/allClients/'}">Клиенты</a>
<a th:href="@{'/main/allEmployees/'}">Сотрудники</a>
<a th:href="@{'/logout'}">Выход</a>
</form>
</body>
<body>
<table class=" table table-hover">

    <h3>Добавить сотрудника</h3>
    <div class="container">
        <form th:action="@{/main/addEmployee}"
              th:object="${employee}" method="post">
            <label>
                <input th:field="${employee.id}" placeholder="id" hidden>
            </label>

            <label>
                <input th:field="${employee.surname}" placeholder="surname">
            </label>

            <label>
                <input th:field="${employee.name}" placeholder="name">
            </label>

            <label>
                <input th:field="${employee.position}" placeholder="position">
            </label>

            <label>
                <input th:field="${employee.address}" placeholder="address">
            </label>

            <label>
                <input type="date" th:field="${employee.dateOfBirth}" placeholder="dateOfBirth">
            </label>

            <label>
                <input th:field="${employee.email}" placeholder="email">
            </label>

            <label>
                <input th:field="${employee.phone}" placeholder="phone">
            </label>

            <button type="submit">Добавить</button>
        </form>
    </div>


    <thead>
    <tr>
        <th>ID</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Должность</th>
        <th>Адрес</th>
        <th>Дата рождения</th>
        <th>email</th>
        <th>Номер телефона</th>
    </tr>
    </thead>
    <span>
        <tbody>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.surname}"></td>
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.position}"></td>
            <td th:text="${employee.address}"></td>
            <td th:text="${employee.dateOfBirth}"></td>
            <td th:text="${employee.email}"></td>
            <td th:text="${employee.phone}"></td>
            <td>
            <a th:href="@{'/main/deleteEmployee/' + ${employee.id}}" th:text="Удалить"></a>
        </td>
    </span>
    </tr>
    </tbody>
    </span>
</table>

<br>
</body>
</html>