<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Заказы</title>
    <link th:href="@{../../styles/style.css}" rel="stylesheet" type="text/css" />
</head>
<body th:class="main" style="margin: 0;">
<div th:class="header" style="padding-left: 8px;padding-top: 8px;padding-bottom: 4px">Заказы</div>
<div th:class="header" style="display: flex; flex-direction: row; gap: 16px;" >
    <a style="padding-left: 8px" th:href="@{'/main/'}">Главная страница</a>
    <a th:href="@{'/main/allOrders/'}">Заказы</a>
    <a th:href="@{'/main/allProducts/'}">Товары</a>
    <a th:href="@{'/main/allSuppliers/'}">Поставщики</a>
    <a th:href="@{'/main/allClients/'}">Клиенты</a>
    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{'/main/allUsers/'}">Пользователи</a>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{'/main/allTypes/'}">Категории</a>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{'/main/allEmployees/'}">Сотрудники</a>
    </div>
    <p></p>

    <a style="flex-grow: 1; text-align: right; margin-right: 3%"

       th:href="@{'/logout'}">Выход</a>
</div>
</body>
<body th:class="main">
<table class=" table table-hover">

    <h3>Добавить заказ</h3>
    <div class="container">
        <form th:action="@{/main/addOrder}"
              th:object="${order}" method="post">
            <label>
                <input th:field="${order.id}" placeholder="id" hidden>
            </label>

            <label>
                <select th:field="${order.employee}">
                    <option th:each="employee : ${employees}"
                            th:text="${employee.surname}"
                            th:value="${employee.getId()}">
                    </option>
                </select>
            </label>

            <label>
                <select th:field="${order.client}">
                    <option th:each="client : ${clients}"
                            th:text="${client.clientName}"
                            th:value="${client.getId()}">
                    </option>
                </select>
            </label>

            <label>
                <select th:field="${order.product}">
                    <option th:each="product : ${products}"
                            th:text="${product.name}"
                            th:value="${product.getId()}">
                    </option>
                </select>
            </label>

            <label>
                <input th:field="${order.amount}" placeholder="Количество" required>
            </label>

            <label>
                <input type="date" th:field="${order.shippingDate}" placeholder="Дата отгрузки">
            </label>

            <label>
                <input type="date" th:field="${order.paymentDate}" placeholder="Дата платежа">
            </label>

            <label>
                <input th:field="${order.status}" placeholder="Статус заказа">
            </label>

            <label>
                <input th:field="${order.receiverName}" placeholder="Имя получателя">
            </label>

            <label>
                <input th:field="${order.receiverAddress}" placeholder="Адрес получателя">
            </label>
            <button type="submit">Добавить</button>
        </form>
    </div>


    <thead>
    <tr>
        <th style="padding-left: 8px">ID</th>
        <th>Сотрудник</th>
        <th>Клиент</th>
        <th>Товар</th>
        <th>Количество</th>
        <th>Цена</th>
        <th>Дата отгрузки</th>
        <th>Дата платежа</th>
        <th>Статус заказа</th>
        <th>Получатель</th>
        <th>Адрес получателя</th>
        <th>Действие</th>
    </tr>
    </thead>
    <span>
        <tbody>
        <tr th:each="order : ${orders}">
            <td style="padding-left: 8px" th:text="${order.id}"></td>
            <td th:text="${order.employee.surname}"></td>
            <td th:text="${order.client.clientName}"></td>
            <td th:text="${order.product.name}"></td>
            <td th:text="${order.amount}"></td>
            <td th:text="${order.product.price}*${order.amount}"></td>
            <td th:text="${order.shippingDate}"></td>
            <td th:text="${order.paymentDate}"></td>
            <td th:text="${order.status}"></td>
            <td th:text="${order.receiverName}"></td>
            <td th:text="${order.receiverAddress}"></td>
            <td>
            <a th:href="@{'/main/deleteOrder/' + ${order.id}}" th:text="Удалить"></a>
                <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{'/main/editOrder/' + ${order.id}}" th:text="Изменить"></a>
    </div>
        </td>
    </span>
</table>

<br>
</body>
</html>