<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Товары</title>
</head>
<body>
<div>Товары</div>
<div style="display: flex; flex-direction: row; gap: 16px;" >
    <a th:href="@{'/main/allOrders/'}">Заказы</a>
    <a th:href="@{'/main/allProducts/'}">Товары</a>
    <a th:href="@{'/main/allSuppliers/'}">Поставщики</a>
    <a th:href="@{'/main/allClients/'}">Клиенты</a>
    <a th:href="@{'/main/allEmployees/'}">Сотрудники</a>
    <a style="flex-grow: 1; text-align: right; margin-right: 3%" th:href="@{'/logout'}">Выход</a>
</div>
</form>
</body>
<body>
<table class=" table table-hover">

    <h3>Добавить товар</h3>
    <div class="container">
        <form th:action="@{/main/addProduct}"
              th:object="${product}" method="post">
            <label>
                <input th:field="${product.id}" placeholder="id" hidden>
            </label>
            <label>
                <input th:field="${product.name}" placeholder="name">
            </label>
            <label>
                <select th:field="${product.supplier}">
                    <option value=""> suppliers </option>
                    <option th:each="supplier : ${suppliers}"
                            th:text="${supplier.brand}"
                            th:value="${supplier.getId()}">
                    </option>
                </select>
            </label>

            <label>
                <select th:field="${product.type}">
                    <option value=""> client </option>
                    <option th:each="type : ${types}"
                            th:text="${type.category}"
                            th:value="${type.getId()}">
                    </option>
                </select>
            </label>

            <label>
                <input th:field="${product.price}" placeholder="price">
            </label>
            <label>
                <input th:field="${product.unit}" placeholder="unit">
            </label>
            <label>
                <input th:field="${product.inStock}" placeholder="inStock">
            </label>

            <button type="submit">Добавить</button>
        </form>
    </div>


    <thead>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Поставщик</th>
        <th>Категория</th>
        <th>Цена</th>
        <th>Единица измерения</th>
        <th>На складе</th>
    </tr>
    </thead>
    <span>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.supplier.brand}"></td>
            <td th:text="${product.type.category}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.unit}"></td>
            <td th:text="${product.inStock}"></td>
            <td>
            <a th:href="@{'/main/deleteProduct/' + ${product.id}}" th:text="Удалить"></a>
                <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{'/main/editProduct/' + ${product.id}}" th:text="Изменить"></a>
    </div>
        </td>
    </span>
    </tr>
    </tbody>
    </span>
</table>

<br>
</body>
</html>