<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Поставщики</title>
</head>
<body>
<div>Поставщики</div>
<div style="display: flex; flex-direction: row; gap: 16px;" >
    <a th:href="@{'/main/allOrders/'}">Заказы</a>
    <a th:href="@{'/main/allProducts/'}">Товары</a>
    <a th:href="@{'/main/allSuppliers/'}">Поставщики</a>
    <a th:href="@{'/main/allClients/'}">Клиенты</a>
    <a th:href="@{'/main/allEmployees/'}">Сотрудники</a>
    <a style="flex-grow: 1; text-align: right; margin-right: 3%" th:href="@{'/logout'}">Выход</a>
</div>
</form>
</body>
<body>
<table class=" table table-hover">

    <h3>Добавить поставщика</h3>
    <div class="container">
        <form th:action="@{/main/addSupplier}"
              th:object="${supplier}" method="post">
            <label>
                <input th:field="${supplier.id}" placeholder="id" hidden>
            </label>

            <label>
                <input th:field="${supplier.brand}" placeholder="brand">
            </label>

            <label>
                <input th:field="${supplier.name}" placeholder="name">
            </label>

            <label>
                <input th:field="${supplier.position}" placeholder="position">
            </label>

            <label>
                <input th:field="${supplier.address}" placeholder="Address">
            </label>

            <label>
                <input th:field="${supplier.phone}" placeholder="phone">
            </label>

            <label>
                <input th:field="${supplier.email}" placeholder="email">
            </label>

            <button type="submit">Добавить</button>
        </form>
    </div>


    <thead>
    <tr>
        <th>ID</th>
        <th>Брэнд</th>
        <th>Имя поставщика</th>
        <th>Должность</th>
        <th>Адрес</th>
        <th>Телефон</th>
        <th>e-mail</th>
    </tr>
    </thead>
    <span>
        <tbody>
        <tr th:each="supplier : ${suppliers}">
            <td th:text="${supplier.id}"></td>
            <td th:text="${supplier.brand}"></td>
            <td th:text="${supplier.name}"></td>
            <td th:text="${supplier.position}"></td>
            <td th:text="${supplier.address}"></td>
            <td th:text="${supplier.phone}"></td>
            <td th:text="${supplier.email}"></td>
            <td>
<div>
    <div>
        <a th:href="@{'/main/deleteSupplier/' + ${supplier.id}}" th:text="Удалить"></a>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{'/main/editSupplier/' + ${supplier.id}}" th:text="Изменить"></a>
    </div>
</div>

        </td>
    </span>
    </tr>
    </tbody>
    </span>
</table>

<br>
</body>
</html>