<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
    <link th:href="@{../../styles/style.css}" rel="stylesheet" type="text/css" />
</head>
<body style="margin-top: 0px;margin-bottom: 0px;margin-left: 0px;margin-right: 0px;">
<div th:class="header" style="padding-left: 8px;padding-top: 8px;padding-bottom: 4px">Пользователи</div>
<div th:class="header" style="display: flex; flex-direction: row; gap: 16px;" >
    <a style="padding-left: 8px" th:href="@{'/main/'}">Главная страница</a>
    <a th:href="@{'/main/allOrders/'}">Заказы</a>
    <a th:href="@{'/main/allProducts/'}">Товары</a>
    <a th:href="@{'/main/allSuppliers/'}">Поставщики</a>
    <a th:href="@{'/main/allClients/'}">Клиенты</a>
    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{'/main/allUsers/'}">Пользователи</a>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{'/main/allTypes/'}">Категории</a>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{'/main/allEmployees/'}">Сотрудники</a>
    </div>
    <p></p>
    <a style="flex-grow: 1; text-align: right; margin-right: 3%"
       th:href="@{'/logout'}">Выход</a>
</div>
</form>
</body>
<body th:class="main">
<table class=" table table-hover">
    <div sec:authorize="hasRole('ADMIN')">
    <h3>Добавить пользователя</h3>

    <div class="container">
        <form th:action="@{/main/addUser}"
              th:object="${user}" method="post">

            <label>
                <input th:field="${user.id}" placeholder="id" hidden>
            </label>


            <label>
                <input th:field="${user.userName}" placeholder="Имя пользователя">
            </label>

            <label>
                <input th:field="${user.password}" placeholder="Пароль">
            </label>
            <select th:field="${user.roles}">
                <option th:each="role: ${roles}"
                        th:text="${role.roleName == 'ROLE_USER' ? 'Пользователь' : 'Администратор'}"
                        th:value="${role.id}">
                </option>
            </select>
            <label>
                <input th:field="${user.firstName}" placeholder="Имя">
            </label>

            <label>
                <input th:field="${user.lastName}" placeholder="Фамилия">
            </label>

            <label>
                <input th:field="${user.email}" placeholder="e-mail">
            </label>

            <label>
                <input th:field="${user.phone}" placeholder="Номер телефона">
            </label>

            <button type="submit">Добавить</button>
        </form>
    </div>
    <thead>
    <tr>
        <th style="padding-left: 8px">ID</th>
        <th>Имя пользователя</th>
        <th>Пароль</th>
        <th>Роль</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>email</th>
        <th>Номер телефона</th>
        <th>Действие</th>
    </tr>
    </thead>
    <span>
        <tbody>
        <tr th:each="user : ${users}">
            <td style="padding-left: 8px" th:text="${user.id}"></td>
            <td th:text="${user.userName}"></td>
            <td th:text="${user.password}"></td>
            <td th:text="${user.roles}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.phone}"></td>
            <td>
                <div sec:authorize="hasRole('ADMIN')">
            <a th:href="@{'/main/deleteUser/' + ${user.id}}" th:text="Удалить"></a>
                <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{'/main/editUser/' + ${user.id}}" th:text="Изменить"></a>
    </div>
        </td>
    </span>
    </tr>
    </tbody>
    </span>
</table>

<br>
</div>
</body>
</html>